In [19]:
for i in range(6):
    print(i,end=" - ")

0 - 1 - 2 - 3 - 4 - 5 -

In [11]:
age=41
print(age)
print(f"address of the variable is ,{id(age)}")

41
address of the variable is ,140736052403896

In [ ]:
name , age , city = "sazid", 41, "abdullahpuri"
print(f"his name is {name} and age is {age} and designation is {city}")
print(type(name),type(age),type(city))#print(type(name),type(age),type(city))for the type of the variable

his name is sazid and age is 41 and designation is abdullahpuri
<class 'str'> <class 'int'> <class 'str'>

### Operator in python

In [33]:
a=10
b=20
c=30
print("subtraction " ,b-c)
print("addition ",a+b)
print("multiplicaton ",a*c)
print("divison ",c/a)
print("divison -- ",b/c)
print("modulas ",a%b)
print("floor divison ",c//b)
print("exponention ",b**a)

subtraction  -10
addition  30
multiplicaton  300
divison  3.0
divison --  0.6666666666666666
modulas  10
floor divison  1
exponention  10240000000000

### compration operator

In [35]:
# ans will be true or false
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True